<!-- image header -->
<header>
  <div id="img-header" class="mission"></div>
</header>

<!-- side menu -->
<!--
      <aside class="menu" id="aside">
          <ul class="menu-list">
              <li><a routerLink="." fragment="objectifs" class="is-active">Objectifs</a></li>
              <li><a routerLink="." fragment="conditions_victoire">Conditions de victoire</a></li>
          </ul>
      </aside>
      -->

<!-- content -->
<section>
  <!-- title -->
  <div class="content-title">
    <h1 class="title">Mission</h1>
  </div>

  <!-- content -->
  <div class="content">
    <div class="columns">
      <div class="column">
        <h4 class="subtitle is-4" id="objectifs">Objectifs</h4>
        <p>
          Vous devez briser l’assaut blindé et empêcher l’ennemi d’arriver sur
          le secteur stratégique de l’aéroport.
        </p>
        <p>
          Si la situation le permet, vous devez lancer une contre-attaque sur
          Rosche et tenter de neutraliser le QG ENI.
        </p>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <h4 class="subtitle is-4" id="conditions_victoire">
          Conditions de victoire
        </h4>
        <p>
          <b>Victoire majeure :</b> la contre-attaque est brisée (tous les
          blindés ENI sont hors combat), vous contrôlez le QG ENI sur Rosche.
        </p>
        <p>
          <b>Victoire mineure :</b> la contre-attaque est brisée (tous les
          blindés ENI sont hors combat), vous contrôlez les villages de Suttorf,
          Jarlitz, Klein Malchau, Molbath et Schliekau.
        </p>
        <p>
          <b>Défaite mineure :</b> la contre-attaque est brisée (tous les
          blindés ENI sont hors combat), vous contrôlez au moins les villages de
          Jarlitz et Klein Malchau.
        </p>
        <p>
          <b>Défaite majeure :</b> vous ne brisez pas la contre-attaque
          (certains blindés ENI ne sont pas neutralisés) ou vous ne contrôlez
          pas les villages de Jarlitz et Klein Malchau.
        </p>
      </div>
    </div>
  </div>
</section>
