<p>page-not-found works!</p>
<!-- image header -->
<header>
  <div id="img-header" class="home"></div>
</header>

<app-mission-info-panel></app-mission-info-panel>

<!-- content -->
<section>
  <!-- title -->
  <div class="content-title">
    <h1 class="title" style="font-size: 50px">
      Mmh... Il semble qu'il y est un problème...
    </h1>
  </div>

  <!-- content -->
  <div class="content error-page">
    <div class="columns">
      <div class="column">
        <h1>
          <span class="logo is-center">⚠️</span>
        </h1>
        <p class="error-content">
          La page demandée est introuvable... Veuillez vérifier l'adresse !
          <br />
          <small>(Erreur 404)</small>
        </p>
      </div>
    </div>
  </div>
</section>
