* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.sidebar {
  z-index: 1;
  position: absolute;
  width: 250px;
  top: 45px;
}

main.container {
  position: inherit;
  margin: 0 0 0 250px;
  padding: 10px;
  border-left: 1px solid #e7e7e7;
}
