<!-- image header -->
<header>
  <div id="img-header" class="contact"></div>
</header>

<app-mission-info-panel></app-mission-info-panel>

<!-- content -->
<section>
  <!-- title -->
  <div class="content-title">
    <h1 class="title">Modifier un slot</h1>
  </div>

  <!-- content -->
  <div class="content">
    <div class="columns">
      <form class="column">
        <div class="field is-horizontal">
          <div class="field-label is-small">
            <label class="label">Nom du rôle</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <input
                  class="input is-small is-fullwidth {{
                    errors?.includes('name') ? 'is-danger' : ''
                  }}"
                  type="text"
                  placeholder="Soldat"
                  name="name"
                  [(ngModel)]="name"
                />
              </p>
              <p class="help is-danger" *ngIf="errors?.includes('name')">
                Veuillez entrer un nom valide (255 caractères max).
              </p>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <label class="checkbox is-small">
            <input type="checkbox" name="isBooked" [(ngModel)]="isBooked" />
            Rôle Réservé
          </label>
        </div>

        <div class="field is-horizontal" *ngIf="teams">
          <div class="field-label is-small">
            <label class="label">Équipe</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div
                class="select is-small {{
                  errors?.includes('team') ? 'is-danger' : ''
                }}"
              >
                <select [(ngModel)]="selectedTeam" name="selectedTeam">
                  <option value="" disabled>-- Choisir une équipe --</option>
                  <option *ngFor="let team of teams" [value]="team.id">
                    {{ team.name }}
                  </option>
                </select>
              </div>
              <p class="help is-danger" *ngIf="errors?.includes('team')">
                Veuillez sélectionner une équipe.
              </p>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-small">
            <label class="label">Joueur</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="select is-small is-fullwidth">
                <select [(ngModel)]="selectedPlayer" name="selectedPlayer">
                  <option value="" value="0"></option>
                  <option value="" disabled>-- Choisir un joueur --</option>
                  <option *ngFor="let player of players" [value]="player.id">
                    {{ player.username }}
                  </option>
                </select>
              </div>
              <!--<p class="control">
                <input
                  class="input"
                  type="text"
                  placeholder="me"
                  name="player"
                  value="{{ role?.player.username }}"
                  [disabled]="role?.player"
                />
              </p>-->
            </div>
            <div class="field is-grouped is-grouped-right" *ngIf="role?.player">
              <p class="control">
                <button
                  class="button is-small is-outlined is-light is-danger"
                  (click)="kick()"
                >
                  👊🏼 Exclure
                </button>
              </p>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-small">
            <label class="label">Condition</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <input
                  class="input is-small{{
                    errors?.includes('condition') ? 'is-danger' : ''
                  }} condi"
                  type="text"
                  name="condition"
                  placeholder="true"
                  [(ngModel)]="condition"
                />
              </p>
              <p class="help is-danger" *ngIf="errors?.includes('condition')">
                Veuillez entrer une condition valide (<code>true</code> par
                défaut).
              </p>
            </div>
          </div>
        </div>
        <small>
          Code JavaScript qui sera exécuté pour savoir si le slot est ouvert.
          <br />
          (Mini) API :<br />
          - <code>missionPlayers</code> indique le nombre de joueurs inscrits.
          <br />
        </small>
        <small class="is-warning"
          >Attention, le code n'est pas vérifié avant d'être validé. <br />
          Ce qui implique que si une condition est mal écrite, une ligne vide
          sera affiché pour les joueurs.
        </small>

        <br />

        <div class="mybuttons">
          <div class="field is-grouped is-grouped-right">
            <p class="control">
              <button
                class="button is-small is-outlined is-light"
                (click)="goBack()"
              >
                👎🏼 Retour
              </button>
            </p>

            <p class="control" *ngIf="role">
              <button
                class="button is-small is-outlined is-light is-danger"
                (click)="del()"
              >
                💣 Supprimer
              </button>
            </p>

            <p class="control">
              <button
                class="button is-small is-outlined is-light is-info"
                (click)="validate()"
              >
                👌🏼 {{ role ? "Mettre à jour" : "Créer" }}
              </button>
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
