<!-- image header -->
<header>
  <div id="img-header" class="orgaBLUFOR"></div>
</header>

<!-- side menu -->
<aside class="menu" id="aside">
  <ul class="menu-list">
    <li>
      <a href="#CyCERO" class="is-active">Cy CERO</a>
      <ul>
        <li><a href="#ORBAT_detaille">ORBAT détaillé</a></li>
      </ul>
    </li>
    <li>
      <a href="#equipement">Equipement</a>
      <ul>
        <li><a href="#commandement">Commandement</a></li>
        <li>
          <a href="#92emeRegimentInfanterie">92ème Régiment d’Infanterie</a>
        </li>
        <li>
          <a href="#82nd_combat_aviation_brigade">58th Rescue Squadron</a>
        </li>
        <li><a href="#7th_cavalry_regiment">7th Cavalry Regiment</a></li>
        <li>
          <a href="#1er_regiment_para_inf_marine"
            >1er régiment de Parachutistes d’Infanterie de Marine</a
          >
        </li>
        <li><a href="#radio">Radio du 2nd MBG "RAGING BULL"</a></li>
      </ul>
    </li>
    <li>
      <a href="#logistique">Logistique</a>
    </li>
  </ul>
</aside>

<!-- content -->
<section>
  <!-- title -->
  <div class="content-title">
    <h1 class="title">Organisation BLUFOR</h1>
  </div>

  <!-- content -->
  <div class="content">
    <div class="columns">
      <div class="column">
        <h4 class="subtitle is-4" id="CyCERO">Cy CERO</h4>
        <h5 class="subtitle is-5" id="ORBAT_detaille">ORBAT détaillé</h5>
        <a href="/assets/ORBAT_detail.png" target="_blank"
          ><img src="/assets/ORBAT_detail.png" alt=""
        /></a>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <h4 class="subtitle is-4" id="equipement">Equipement</h4>
        <h5 class="subtitle is-5" id="commandement">Commandement</h5>
        <ul>
          <li>
            Véhicule :
            <a
              href="https://en.wikipedia.org/wiki/Cougar_(MRAP)"
              target="_blank"
              >CGR CAT1A2 “Cougar”</a
            >
            non armé (rack radio équipé d’une AN/PRV-117F)
          </li>
          <li>Radio 148 pour CdO et OA</li>
        </ul>
        <h5 class="subtitle is-5" id="92emeRegimentInfanterie">
          92ème Régiment d’Infanterie
        </h5>
        <p>
          <a href="/assets/soldat_92RI.png" target="_blank">
            <img
              src="/assets/soldat_92RI.png"
              class="right-align"
              alt=""
              style="height: 800px"
            />
          </a>
        </p>
        <p>Tous les hommes sont équipés de :</p>
        <ul>
          <li>Famas F1 avec une optique Scrome J4 F1</li>
          <li>
            Une grenade à fusil APAV-40 (sauf chef de section et opérateur
            radio)
          </li>
          <li>AN/PRC-343</li>
          <li>Kit médical de base</li>
          <li>Fumigènes (sauf chef de section et opérateur radio)</li>
          <li>2 grenades RGO (sauf chef de section et opérateur radio)</li>
        </ul>
        <p>Chef de section</p>
        <ul>
          <li>Glock 17</li>
          <li>Vector 21-B</li>
          <li>AN/PRC-148</li>
          <li>GPS MicroDAGR</li>
        </ul>
        <p>Opérateur radio</p>
        <ul>
          <li>AN/PRC-117F</li>
          <li>MicroDAGR GPS</li>
        </ul>
        <p>Chef de groupe</p>
        <ul>
          <li>AN/PRC-148</li>
          <li>Jumelles</li>
        </ul>
        <p>Mitrailleur lourd</p>
        <ul>
          <li>M240G</li>
        </ul>
        <p>Assistant Mitrailleur lourd</p>
        <ul>
          <li>Munitions pour la M240G</li>
          <li>Jumelles</li>
        </ul>
        <p>Mitrailleur</p>
        <ul>
          <li>M249 PIP Para</li>
        </ul>
        <p>
          Véhicule du chef de section et de l’opérateur radio : CGR CAT1A2
          “Cougar” non armé.
        </p>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <h5 class="subtitle is-5" id="82nd_combat_aviation_brigade">
          58th Rescue Squadron
        </h5>
        <p>
          <b>Réparations, réarmement et refuel : voir logistique</b>
        </p>
        <p>
          Hélicoptère de combat
          <a href="http://www.rhsmods.org/w/ah64d" target="_blank">AH-64D</a>
        </p>
        <p>
          <a href="/assets/AH-64.png" target="_blank">
            <img
              src="/assets/AH-64.png"
              class="left-align"
              alt=""
              style="height: 300px"
            />
          </a>
        </p>
        <p>2 x 30 m206 Flare/RR-170 Chaff</p>
        <p>
          Pylone 2 : 19 x
          <a href="https://en.wikipedia.org/wiki/Hydra_70" target="_blank"
            >m151 HE</a
          >
        </p>
        <p>
          Pylone 3 : 4 x
          <a
            href="https://fr.wikipedia.org/wiki/AGM-114_Hellfire"
            target="_blank"
            >AGM-114K</a
          >*
        </p>
        <p>
          Pylone 4 :4 x
          <a
            href="https://fr.wikipedia.org/wiki/AGM-114_Hellfire"
            target="_blank"
            >AGM-114N</a
          >*
        </p>
        <p>
          Pylone 5 : 19 x
          <a href="https://en.wikipedia.org/wiki/Hydra_70" target="_blank"
            >m151 HE</a
          >
        </p>
        <p>m230 : 1200 cartouches</p>
        <p><br /><br /><br /></p>
        <p>
          * Voir
          <a
            href="https://ace3mod.com/wiki/feature/hellfire.html"
            target="_blank"
            >https://ace3mod.com/wiki/feature/hellfire.html</a
          >, notamment pour le guidage laser (helico ou au sol)
        </p>
        <p>
          Hélicoptère de transport
          <a href="http://www.rhsmods.org/w/uh60m" target="_blank">UH-60</a> MEV
        </p>
        <p>
          <a href="/assets/UH-60.png" target="_blank">
            <img
              src="/assets/UH-60.png"
              class="right-align"
              alt=""
              style="height: 300px"
            />
          </a>
        </p>
        <ul>
          <li>Non armé</li>
          <li>Contient du matériel médical</li>
        </ul>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <h5 class="subtitle is-5" id="7th_cavalry_regiment">
          7th Cavalry Regiment
        </h5>
        <p>
          <b>Réparations, réarmement et refuel : voir logistique</b>
        </p>
        <p>
          Main Battle Tank
          <a href="http://www.rhsmods.org/w/m1a2" target="_blank">M1A2SEPv1</a>
          (Tusk 1) “Abrams”
        </p>
        <ul>
          <li>
            Canon 120 mm :
            <a href="https://en.wikipedia.org/wiki/M829" target="_blank"
              >M829A3</a
            >
            x 28,
            <a href="https://en.wikipedia.org/wiki/M830" target="_blank"
              >M830A1</a
            >
            x 8
          </li>
          <li>
            M2 : 200 cartouches
            <a
              href="https://en.wikipedia.org/wiki/Saboted_light_armor_penetrator"
              target="_blank"
              >M903 SLAP</a
            >
          </li>
          <li>
            M240 : 1200 cartouches
            <a
              href="https://en.wikipedia.org/wiki/7.62%C3%9751mm_NATO"
              target="_blank"
              >M80A1</a
            >
          </li>
        </ul>
        <p>
          <a href="/assets/Abrams.png" target="_blank">
            <img src="/assets/Abrams.png" alt="" style="height: 300px" />
          </a>
        </p>
        <p>
          Infantry Fighting Vehicle
          <a href="http://www.rhsmods.org/w/m2a3" target="_blank">M2A3</a> (Busk
          1) “Bradley”
        </p>
        <ul>
          <li>
            Canon de 25 mm Bushmaster : 3 x 230
            <a
              href="http://www.alternatewars.com/BBOW/Weapons/AFV_Guns/OATK_25x137mm_Ammo.pdf"
              target="_blank"
              >M792 HEI-T</a
            >, 2 x 70
            <a
              href="https://www.gd-ots.com/munitions/medium-caliber-ammunition/25mm-tungsten-apfsds-t/"
              target="_blank"
              >M919 APFSDS-T</a
            >
          </li>
          <li>
            TOW Launcher :
            <a href="https://en.wikipedia.org/wiki/BGM-71_TOW" target="_blank"
              >BGM-71E</a
            >
            x 2,
            <a href="https://en.wikipedia.org/wiki/BGM-71_TOW" target="_blank"
              >BGM-71H</a
            >
            x2,
            <a href="https://en.wikipedia.org/wiki/BGM-71_TOW" target="_blank"
              >BGM-71F-3</a
            >
            x2
          </li>
          <li>
            M240 : 1200 cartouches
            <a
              href="https://en.wikipedia.org/wiki/7.62%C3%9751mm_NATO"
              target="_blank"
              >M80EPR</a
            >
          </li>
        </ul>
        <p>
          <a href="/assets/Bradley.png" target="_blank">
            <img src="/assets/Bradley.png" alt="" style="height: 300px" />
          </a>
        </p>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <h5 class="subtitle is-5" id="1er_regiment_para_inf_marine">
          1er régiment de Parachutistes d’Infanterie de Marine
        </h5>
        <p>
          Tous les opérateurs sont équipés d’une HK 416 D10 + MRCO + Laser
          Pointer + NT4 QDSS (sauf tireur de précision), kit médical,
          AN/PRC-343, vector-21 nite (sauf JTAC), GPS microDAGR, lunettes de
          vision nocturne OB70 Lucie et de fumigènes, 2 atelles (sauf JTAC).
        </p>
        <p>
          <a href="/assets/1erRPIMa.png" target="_blank">
            <img
              src="/assets/1erRPIMa.png"
              class="right-align"
              alt=""
              style="height: 700px"
            />
          </a>
        </p>
        <p>Chef d’équipe :</p>
        <ul>
          <li>AN/PRC-117F</li>
          <li>Pince coupante</li>
        </ul>
        <p>JTAC/OP Drone :</p>
        <ul>
          <li>Laser designator</li>
          <li>Drone Darter</li>
          <li>Terminal drone</li>
        </ul>
        <p>AuxSan :</p>
        <ul>
          <li>20 x bandages packing, basic, elastic et quicklot</li>
          <li>4 x épinéphrine</li>
          <li>4 x morphine</li>
          <li>4 x adénosine</li>
          <li>6 x saline 250ml</li>
          <li>2 x saline 500 ml</li>
          <li>10 x attelles</li>
          <li>kit chirurgical</li>
        </ul>
        <p>Tireur de précision :</p>
        <ul>
          <li>HK 417 20’’ + SU-230A/PVS + Laser, Pointer + AAC 762-SDN-6</li>
          <li>M136 HEAT</li>
        </ul>
        <p>Opérateur :</p>
        <ul>
          <li>M136 HEAT</li>
        </ul>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <h5 class="subtitle is-5" id="radio">Radio du 2nd MBG "RAGING BULL"</h5>
        <h5 class="subtitle is-5">RSO</h5>
        <p>Le réseau radio est composé de la manière suivante :</p>
        <a href="/assets/RSO.png" target="_blank"
          ><img src="/assets/RSO.png" alt=""
        /></a>
        <p>
          Chaque homme est équipé d’une AN/PRC343 afin de pouvoir communiquer
          avec sa section (cf: doc sur les équipements).
        </p>
        <h5 class="subtitle is-5">Canaux radios AN/PRC343</h5>
        <table class="table is-bordered">
          <thead>
            <tr>
              <th>Unité</th>
              <th>Block</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Commandement</td>
              <td>Block 1</td>
            </tr>
            <tr>
              <td>1er RPIMa</td>
              <td>Block 2</td>
            </tr>
            <tr>
              <td>3rd Cavalry</td>
              <td>Block 3</td>
            </tr>
            <tr>
              <td>58th RS</td>
              <td>Block 4</td>
            </tr>
            <tr>
              <td>1ere section 92 RI</td>
              <td>Block 5</td>
            </tr>
            <tr>
              <td>2eme section 92 RI</td>
              <td>Block 6</td>
            </tr>
            <tr>
              <td>3eme section 92 RI</td>
              <td>Block 7</td>
            </tr>
            <tr>
              <td>7th Cavalry</td>
              <td>Block 8</td>
            </tr>
          </tbody>
        </table>
        <h5 class="subtitle is-5">Protocole radio et réglage radios</h5>
        <p>
          <a
            href="https://grecedecanards.fr/wiki/doku.php/arma_3;joueurs;communication;les_bases_de_la_communication_radio"
            target="_blank"
            >Protocole radio</a
          >
          <br /><br />
          <a
            href="https://grecedecanards.fr/wiki/doku.php/arma_3;joueurs;communication;les_secrets_caches_des_radios"
            target="_blank"
            >Réglage radios</a
          >
        </p>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <h4 class="subtitle is-4" id="logistique">Logistique</h4>
        <p>
          Du fait de la situation, nos possibilités logistiques sont limitées.
        </p>
        <h5 class="subtitle is-5" id="reparations">Réparations</h5>
        <p>
          Les
          <b
            >équipages d’engins sont qualifiés pour effectuer des réparations
            d’urgence</b
          >. Les chefs de bord (chef de blindés, tireur pour l’AH-64 et pilote
          pour l’UH-60) sont plus expérimentés que le reste de l’équipage. Ils
          pourront donc effectuer des réparations plus efficaces (réparer à
          partir d’un seuil de dégâts plus faible et donc ramener à un niveau de
          dégâts plus faible). Cependant, les réparations faites par l’équipage
          ne pourront pas réparer intégralement l’engin.
        </p>
        <p>
          Pour effectuer des réparations, il est nécessaire de
          <b>disposer d’une trousse de réparation</b> dans son équipement
          personnel. <b>Ces trousses</b> contiennent un certain nombre de pièces
          détachées et <b>ne peuvent</b> par conséquent
          <b>servir qu’une fois</b>.
        </p>
        <ul>
          <li>
            Les blindés embarquent deux kits de pièces détachées chacun (trousse
            de réparation).
          </li>
          <li>
            Les hélicoptères, du fait de leur complexité, n’embarquent pas de
            kit de pièces détachées.
          </li>
        </ul>
        <p>
          Les <b>réparations complètes</b> peuvent être faites
          <b>avec l’appui d’un véhicule de réparation dédié</b> (HEMTT), en
          attente sur la base. Ce véhicule contient toutes les pièces détachées
          disponibles (trousses de réparation).
          <mark><b>Les kits de réparation sont en nombre limité.</b></mark>
          Ce véhicule peut être envoyé sur le terrain par le CdO ou l’OA (via
          SSS). Attention, vous ne disposez que d’un véhicule de réparation. Si
          celui-ci venait à être détruit, aucune réparation complète ne serait
          plus possible et vous perdriez également les pièces détachées.
        </p>
        <p>
          Vous pouvez acheminer les kits de réparation sur le terrain par les
          moyens qui sont à votre disposition, pour procéder à des réparations
          d’urgence.
        </p>
        <p>
          Les équipes de logistique de la base sont souvent débordées (par des
          parties de belote). Si un support mobilisable via SSS n’est pas
          disponible, adressez-vous au commandant du MBG pour que la discipline
          soit rétablie.
        </p>
        <h5 class="subtitle is-5" id="ravitaillement_carburant">
          Ravitaillement en carburant
        </h5>
        <p>
          Vous disposez de 2 HEMTT contenant 10 000 l. chacun. 40 000 litres
          sont également disponibles à la station essence de l’aéroport. Vous
          pouvez ravitailler les véhicules à cette station.
        </p>
        <p>
          Un des deux HEMTT peut être envoyé sur le terrain par le CdO ou l’OA
          (via SSS). Le second restera sur base pour les besoins des
          hélicoptères.
        </p>
        <p>
          En théorie, une équipe de logistique peut aider les véhicules (en
          particulier les hélicoptères) à refaire le plein de carburant. Mais
          s’ils sont trop occupés (à jouer aux cartes), n’hésitez pas à vous
          servir vous-même.
        </p>
        <p>
          Par contre, si les cuves des HEMTT sont vides, vous serez obligés de
          les faire remplir par l’équipe logistique de la base. Adressez-vous au
          commandant du MBG pour qu’ils ne trainent pas trop.
        </p>
        <p>
          Surveillez bien vos consommations : les blindés consomment beaucoup de
          carburant, les hélicos encore plus, évidemment.
        </p>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <h5 class="subtitle is-5" id="rearmement_reapprovisionnement">
          Réarmement - Réapprovisionnement
        </h5>
        <p>
          <mark
            >Un réarmement limité est possible pour l’AH-64, mais uniquement
            pour le canon et les roquettes Hydra, en quantité réduite. Ce
            réarmement n’est possible qu’à la base (HEMTT présent sur
            base).</mark
          >
        </p>
        <p>
          <mark
            >Pour le moment, nous ne disposons pas de munitions supplémentaires
            pour les blindés. Ne comptez surtout pas dessus.</mark
          >
        </p>
        <p>
          <mark>Fantassins - Trousses de réparation, etc.</mark>
        </p>
      </div>
    </div>
  </div>
</section>
