<!-- image header -->
<header>
  <div id="img-header" class="modset"></div>
</header>

<app-mission-info-panel></app-mission-info-panel>

<!-- content -->
<section>
  <!-- title -->
  <div class="content-title">
    <h1 class="title">Pour nous rejoindre</h1>
  </div>

  <!-- content -->
  <div class="content">
    <div class="columns">
      <div class="column">
          Pour participer à l'<b>Opération Rogue Wave Piercer</b> vous devez :
          <ul>
            <li>Avoir la dernière version du jeu Arma 3</li>
            <li>Avoir installé le gestionnaire de mod Arma3Sync</li>
            <li>Avoir téléchargé le modset par Arma3Sync</li>
          </ul>
          <br /><br />
          Pour installer Arma3Sync, <a
            href="https://grecedecanards.fr/wiki/doku.php/starting;install_a3s?s[]=arma3sync"
            target="_blank">
              retrouvez le tuto d'installation des GDC</a>.
          <br /><br />
          Télécharger le modset complet de l'event via ArmA3Sync
          <div class="box" style="font-family: consolas">
            URL autoconfig armasync: ftp://serveur02.team-gie.com/.a3s/autoconfig
            <br />
            Event: GDC-GIE ORWP (besoin de rien d'autre !!)
          </div>
        Illustration dans
        <a href="https://www.armaholic.com/page.php?id=22199" target="_blank"
          >ArmA3Sync</a
        >
        :
        <br />
        <a href="/assets/a3s_exemple.png" target="_blank">
          <img src="/assets/a3s_exemple.png" style="height: 900px" />
        </a>
      </div>
    </div>
  </div>
</section>
