<!-- image header -->
<header>
  <div id="img-header" class="modset"></div>
</header>

<!-- content -->
<section>
  <!-- title -->
  <div class="content-title">
    <h1 class="title">Modset</h1>
  </div>

  <!-- content -->
  <div class="content">
    <div class="columns">
      <div class="column">
        Pour venir participer à l'<b>Opération Rogue Wave Piercer</b> vous devez
        télécharger le modset complet de l'event via
        <a href="https://www.armaholic.com/page.php?id=22199" target="_blank"
          >ArmA3Sync</a
        >. <br /><br />
        <small>
          <a
            href="https://grecedecanards.fr/wiki/doku.php/starting;install_a3s?s[]=arma3sync"
            target="_blank"
          >
            Pour installer ArmA3Sync retrouver le tuto d'installation des GDC</a
          >.
        </small>
        <br /><br />
        <div class="box" style="font-family: consolas">
          URL autoconfig armasync: ftp://serveur02.team-gie.com
          <br />
          Event: GDC-GIE ORWP (besoin de rien d'autre !!)
        </div>
        Illustration dans
        <a href="https://www.armaholic.com/page.php?id=22199" target="_blank"
          >ArmA3Sync</a
        >
        :
        <br />
        <a href="/assets/a3s_exemple.png" target="_blank">
          <img src="/assets/a3s_exemple.png" style="height: 900px" />
        </a>
      </div>
    </div>
  </div>
</section>
