<!-- image header -->
<header>
  <div id="img-header" class="intel"></div>
</header>

<app-mission-info-panel></app-mission-info-panel>

<!-- content -->
<section>
  <!-- title -->
  <div class="content-title">
    <h1 class="title">Intel</h1>
  </div>
  <!-- content -->
  <div class="content">
    <div class="columns">
      <div class="column">
        <h4 class="subtitle is-4">Situation générale</h4>
        <p>
          Les forces hostiles ont lancé ce jour, 3 juillet 2012, un assaut
          massif à travers la Pologne, partant de l’Ukraine et visant
          l’Allemagne. Seul le 2nd MBG “raging bull” est en mesure de projeter
          ses premiers effectifs dans les 24h.
          <a href="/assets/pasted image 0.png" target="_blank">
            <img
              src="/assets/pasted image 0.png"
              class="right-align"
              alt=""
              style="height: 800px"
            />
          </a>
        </p>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <h4 class="subtitle is-4">Situation tactique sur l’OZ Rosche</h4>
        <p>La carte tactique couvre une zone de 15 km².</p>
        <p>Télécharger la carte tactique :</p>
        <ul>
          <li>
            <a href="/assets/J-7_2_carte_tactique_MR.png" target="_blank"
              >au format png</a
            >
            (env. 9 Mo)
          </li>
          <li>
            <a href="/assets/J-7_2_carte_tactique_MR.xcf">au format GIMP</a>
            (xcf) avec calques (env. 23 Mo)
          </li>
        </ul>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <h4 class="subtitle is-4">Situation technique détaillée</h4>
        <p>
          3 routes principales, la 71 (la plus au sud), la 493 (au centre) et la
          191 (au nord) convergent vers l’aéroport situé au sud de Ridpord. Le
          contrôle de ce nœud routier et de l’aéroport est vital car il ouvre
          directement l’axe Frankfurt-am-Oder - Berlin.
        </p>
        <p>
          <b>Important :</b> la rivière Wipperau qui serpente de l’Oder (ZI au
          sud de Oldenstadter See) jusqu’à Rosche en passant par le nord de
          notre TZ n’est pas franchissable par des véhicules motorisés.
        </p>
        <p>
          L’aéroport, ainsi que les 3 avant-postes Nestor (nord), Cassandre
          (centre) et Sofia (sud) sont pour le moment sous notre contrôle.
        </p>
        <p>
          Côté hostile, les troupes ont pénétré par la 493 à l’est. Elles
          contrôlent Rosche.
        </p>
        <p>
          Elles sont constituées pour partie de groupes paramilitaires qui se
          déploient rapidement vers l’ouest.
        </p>
        <p>
          Rosche est occupée par des troupes régulières ukrainiennes.
          <a href="/assets/pasted image 1.png" target="_blank">
            <img
              src="/assets/pasted image 1.png"
              class="right-align"
              alt=""
              style="height: 800px"
            />
          </a>
        </p>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <h4 class="subtitle is-4">Mission</h4>
        <p>
          Vous devez briser l’assaut et empêcher l’ennemi d’arriver sur le
          secteur stratégique de l’aéroport.
        </p>
        <p>
          Si la situation le permet, vous devez lancer une contre-attaque sur
          Rosche et tenter de neutraliser le QG ENI.
        </p>

        <h4 class="subtitle is-4">Déploiement des forces alliées</h4>
        <p>
          CyNORO, CyCERO et CySURO sont déployées en synchronisation. Concernant
          CyCERO, en particulier :
        </p>
        <p>
          <b>04/07/2012 - 0145 ZULU : 1er RPIMa</b> via HALO jump (8 000 m.) par
          C130
        </p>
        <p>
          <b>04/07/2012 - 0300 ZULU : ensemble de l’effectif</b> d’avant-garde
          (30-60 hommes) déployé sur zone (aéroport de Ridpord)
        </p>
      </div>
    </div>
  </div>
</section>
