<!-- image header -->
<header>
  <div id="img-header" class="intel"></div>
</header>

<!-- content -->
<section>
  <!-- title -->
  <div class="content-title">
    <h1 class="title">Intel</h1>
  </div>

  <!-- content -->
  <div class="content">
    <div class="columns intel-hide intel-Jx">
      <div class="column">
        <h4 class="subtitle is-4 intel-hide intel-Jx">
          Vous aurez plus d'information bientôt.
        </h4>
        <img src="/assets/dog_wait.jpg" alt="" class="intel-hide intel-Jx" />
      </div>
    </div>

    <!-- dispo à j-7 -->
    <div class="columns intel-hide intel-J7">
      <div class="column">
        <h4 class="subtitle is-4"></h4>
        <p></p>
      </div>
    </div>

    <!-- dispo à j-1 -->
    <div class="columns intel-hide intel-H24">
      <div class="column">
        <h4 class="subtitle is-4">Situation générale, ORBAT, réseau radio</h4>
        <p></p>

        <h4 class="subtitle is-4"></h4>
        <p></p>
      </div>
    </div>

    <!-- dispo à h-4 -->
    <div class="columns intel-hide intel-H4">
      <div class="column">
        <h4 class="subtitle is-4"></h4>
        <p></p>
      </div>
    </div>

    <!-- dispo à h-2 -->
    <div class="columns intel-hide intel-H2">
      <div class="column">
        <h4 class="subtitle is-4">Position générale des hostiles</h4>
        <p></p>
      </div>
    </div>

    <!-- dispo 30min avant -->
    <div class="columns intel-hide intel-M30">
      <div class="column">
        <h4 class="subtitle is-4">
          Renseignements détaillés sur Rosche (sauf si renseignements à
          collecter par FS)
        </h4>
        <h5 class="subtitle is-5">Localisation du QG sur Rosche</h5>
        <p></p>

        <h5 class="subtitle is-5">Présence SAM dans la zone du QG</h5>
        <p></p>
      </div>
    </div>

    <!-- dispo à t0 -->
    <div class="columns intel-hide intel-t0">
      <div class="column">
        <h4 class="subtitle is-4">
          Renseignements détaillés sur certaines positions des hostiles (groupes
          paramil)
        </h4>
        <h5 class="subtitle is-5">
          Positions des iglaa et présence AA sur Rosche
        </h5>
      </div>
    </div>
  </div>
</section>
