<div class="information-panel" id="info">
  <div class="info-top">
    <h4 class="title">À la une</h4>

    <div class="info-item">Ouverture du site de l'interco !</div>

    <div class="info-item">
      Mission dans :
      <span class="info-val">
        <span id="info-days"></span>
        <span id="info-hours"></span>
        <span id="info-mins"></span>
        <span id="info-secs"></span>
      </span>
    </div>
  </div>

  <div class="info-top">
    <h4 class="title">Dates clés</h4>

    <div class="info-item">
      Inscriptions ouvertes jusqu'au : <span class="info-val">15/12/2020</span>
    </div>

    <div class="info-item">
      Mission prévue le : <span class="info-val">15/04/2021</span>
    </div>
  </div>

  <div class="info-top">
    <h4 class="title">Inscriptions</h4>

    <div class="info-item">
      Joueurs inscrits : <span class="info-val">9</span>
    </div>

    <div class="info-item">
      Places disponibles : <span class="info-val">31</span>
    </div>

    <div class="info-item">
      Places réservées : <span class="info-val">10</span>
    </div>
  </div>
</div>
