<div class="information-panel" id="info" *ngIf="mission">
  <div class="info-top">
    <h4 class="title">À la une</h4>

    <div class="info-item">
      Mission dans :
      <span class="info-val">
        {{ remainingTime }}
      </span>
    </div>
  </div>

  <div class="info-top">
    <h4 class="title">Support et questions</h4>

    <div class="info-item">
      <a href="https://discord.gg/K6aGr5r4Bx" target="_blank">
        Rejoignez le discord de l'opération
      </a>
    </div>
  </div>

  <div class="info-top">
    <h4 class="title">Dates clés</h4>

    <div class="info-item">
      Mission planifiée le :
      <span class="info-val">{{ mission.date | date: "dd/MM/yyyy" }}</span>
    </div>

    <div class="info-item">
      Inscriptions fermées !
    </div>
  </div>

  <div class="info-top">
    <h4 class="title">Etat des inscriptions</h4>

    <div class="info-item">
      Joueurs inscrits : <span class="info-val">{{ calcPlayers() }}</span>
    </div>

    <div class="info-item">
      Places réservées : <span class="info-val">{{ calcBooked() }}</span>
    </div>
  </div>
</div>
