<div class="information-panel" id="info" *ngIf="mission">
  <div class="info-top">
    <h4 class="title">À la une</h4>

    <div class="info-item">Ouverture du site de l'interco !</div>

    <div class="info-item">
      Mission dans :
      <span class="info-val">
        {{ remainingTime }}
      </span>
    </div>
  </div>

  <div class="info-top">
    <h4 class="title">Dates clés</h4>

    <div class="info-item">
      Inscriptions ouvertes jusqu'au :
      <span class="info-val">{{ "15/12/2020" }}</span>
    </div>

    <div class="info-item">
      Mission prévue le :
      <span class="info-val">{{ mission.date | date: "dd/MM/yyyy" }}</span>
    </div>
  </div>

  <div class="info-top">
    <h4 class="title">Inscriptions</h4>

    <div class="info-item">
      Joueurs inscrits : <span class="info-val">{{ calcPlayers() }}</span>
    </div>

    <div class="info-item">
      Places disponibles : <span class="info-val">{{ calcFree() }}</span>
    </div>

    <div class="info-item">
      Places réservées : <span class="info-val">{{ calcBooked() }}</span>
    </div>
  </div>
</div>
