/* You can add global styles to this file, and also import other style files */
/*-- variable --*/
:root {
  /*-- color var --*/
  --bck-color: #212121;
  --font-color: #eeeeee;
  --elem-color: #141414;
  --font-theme-color: #4f96e8;
  --font-theme-danger-color: #ed371e;
  --font-theme-warning-color: #ea8b0a;
  --font-theme-success-color: #38ad3d;

  /*-- font var --*/
  --content-font: "Asap", sans-serif;
  --title-font: "Marvel", sans-serif;

  /*-- lien img --*/
  --img-header-home: url("/assets/Header/20210506151233_1.jpg");
  --img-header-contexte: url("/assets/Header/20210506150810_1.jpg");
  --img-header-orgaBLUFOR: url("/assets/Header/20210506125847_1.jpg");
  --img-header-mission: url("/assets//Header/20210506150841_1.jpg");
  --img-header-intel: url("/assets/Header/20210506152721_1.jpg");
  --img-header-modset: url("/assets/Header/20210506152511_1.jpg");
  --img-header-lobby: url("/assets/Header/20210506131043_1.jpg");
  --img-cpc: url("/assets/logocpc.png");
  --img-gie: url("/assets/logogie.png");
}

/*-- simplebar custom color --*/
.simplebar-scrollbar::before {
  background-color: var(--font-color);
}

html {
  background-color: var(--bck-color);
  scroll-behavior: smooth;
}

body {
  overflow-y: hidden;
}

/*-- link --*/
a {
  color: var(--font-theme-color);
}

a:active,
a:focus,
a:hover {
  opacity: 60%;
  color: var(--font-theme-color);
}

/*-- button --*/
.mybuttons {
  display: flex;
}

.button.is-outlined.is-primary {
  background: none;
  border-color: var(--font-theme-success-color);
  color: var(--font-theme-success-color);
}

.button.is-outlined.is-info {
  background: none;
  border-color: var(--font-theme-color);
  color: var(--font-theme-color);
}

.button.is-outlined.is-danger {
  background: none;
  border-color: var(--font-theme-danger-color);
  color: var(--font-theme-danger-color);
}

.button.is-outlined.is-warning {
  background: none;
  border-color: var(--font-theme-warning-color);
  color: var(--font-theme-warning-color);
}

.button.is-outlined.is-primary:active,
.button.is-outlined.is-primary:focus,
.button.is-outlined.is-primary:hover {
  background: var(--font-theme-success-color);
  border-color: var(--font-theme-success-color);
  color: var(--font-color);
}

.button.is-outlined.is-info:active,
.button.is-outlined.is-info:focus,
.button.is-outlined.is-info:hover {
  background: var(--font-theme-color);
  border-color: var(--font-theme-color);
  color: var(--font-color);
}

.button.is-outlined.is-danger:active,
.button.is-outlined.is-danger:focus,
.button.is-outlined.is-danger:hover {
  background: var(--font-theme-danger-color);
  border-color: var(--font-theme-danger-color);
  color: var(--font-color);
}

.button.is-outlined.is-warning:active,
.button.is-outlined.is-warning:focus,
.button.is-outlined.is-warning:hover {
  background: var(--font-theme-warning-color);
  border-color: var(--font-theme-warning-color);
  color: var(--font-color);
}

/*-- notification --*/
.notification {
  margin: 0;
  padding: 2vh 15vh;
  padding-left: 4vh;
  text-align: left;

  background-color: var(--font-theme-success-color) !important;
  color: var(--bck-color) !important;
}

.notification.is-danger {
  background-color: var(--font-theme-danger-color) !important;
}

.notification.is-warning {
  background-color: var(--font-theme-warning-color) !important;
}

/*-- navbar --*/
.navbar-burger.burger {
  color: var(--font-color);
}

.navbar,
.navbar-menu {
  background-color: var(--elem-color);
}

.navbar .navbar-menu a.navbar-item,
.navbar .navbar-menu a.navbar-link {
  font-family: var(--title-font);
  font-size: 20px;
  color: var(--font-color);
  letter-spacing: 2px;
}

.navbar .navbar-menu a.navbar-item:active,
.navbar .navbar-menu a.navbar-item:focus,
.navbar .navbar-menu a.navbar-item:hover {
  background-color: var(--bck-color);
}

.navbar-item.has-dropdown.is-active .navbar-link,
.navbar-item.has-dropdown:focus .navbar-link,
.navbar-item.has-dropdown:hover .navbar-link {
  background-color: var(--bck-color);
}

.navbar .navbar-menu .navbar-dropdown {
  background-color: var(--elem-color);
  border: none;
  display: none;
}

.navbar .navbar-menu .toggle-dropdown .navbar-dropdown {
  display: block;
}

.navbar .navbar-menu .toggle-dropdown .navbar-link::after {
  transform: rotate(135deg) translate(0.25em, -0.25em);
}

.navbar .navbar-menu .navbar-dropdown a.navbar-item {
  margin: 0px 15px !important;
  padding-left: 30px;
}

.navbar .navbar-menu .navbar-start {
  margin-left: 15px;
}

.navbar .navbar-menu .navbar-start a.navbar-item,
.navbar .navbar-menu a.navbar-link {
  margin: 0px 15px;
}

.navbar .navbar-menu a.navbar-item {
  padding: 8px 15px;
}

.navbar .navbar-menu a.navbar-link {
  padding: 8px 50px 8px 15px;
}

.navbar-link:not(.is-arrowless)::after {
  border-color: var(--font-color);
}

.navbar .navbar-menu .navbar-end {
  margin-right: 40px;
  margin-left: 15px;
}

.navbar .navbar-menu .navbar-end .separator {
  margin-top: 15px;
  margin-left: 15px;
  border-top: 1px solid var(--font-color);
  height: 10px;
  width: auto;
  display: block;
}

.navbar .navbar-menu .navbar-end a.navbar-item {
  margin-left: 15px;
}

.navbar.is-fixed-top .navbar-menu,
.navbar.is-fixed-top-touch .navbar-menu {
  height: 100vh;
}

/*-- image header --*/
header #img-header {
  object-fit: cover;
  height: 50vh;
  background-position-x: center;
  background-position-y: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: var(--img-header);
}

header #img-header.home {
  --img-header: var(--img-header-home);
}

header #img-header.contexte {
  --img-header: var(--img-header-contexte);
}

header #img-header.orgaBLUFOR {
  --img-header: var(--img-header-orgaBLUFOR);
}

header #img-header.mission {
  --img-header: var(--img-header-mission);
}

header #img-header.intel {
  --img-header: var(--img-header-intel);
}

header #img-header.modset {
  --img-header: var(--img-header-modset);
}

header #img-header.lobby {
  --img-header: var(--img-header-lobby);
}

header #img-header.scrolled {
  opacity: 60%;
}

/*-- information panel --*/
.information-panel {
  background-color: var(--bck-color);
  margin: 50px;
  border-radius: 5px;

  font-family: var(--content-font);
  font-size: 16px;
  color: var(--font-color);
}

.information-panel .title {
  font-family: var(--title-font);
  font-size: 20px;
  color: var(--font-color);
  letter-spacing: 2px;
}

.information-panel .info-top {
  margin-bottom: 25px;
}

.information-panel .info-val {
  color: var(--font-theme-color);
}

/*-- side menu --*/
aside.menu {
  background: none;
  overflow-y: auto;
  border-top: 1px solid var(--font-color);
}

aside.menu .menu-label {
  font-family: var(--title-font);
  letter-spacing: 2px;
  font-size: 20px;
  color: var(--font-color);
}

aside.menu .menu-list li a {
  font-family: var(--content-font);
  font-size: 16px;
  color: var(--font-color);
  margin: 10px 40px;
}

aside.menu .menu-list li ul {
  border-left: 1px solid var(--font-color);
  margin: 0.75em;
  margin-left: 55px;
  padding-left: 0.75em;
}

aside.menu .menu-list li ul li a {
  margin-left: 0;
}

aside.menu .menu-list li ul li:first-child {
  margin: 0;
}

aside.menu .menu-list li ul li:last-child {
  margin: 0;
}

aside.menu .menu-list li a:active,
aside.menu .menu-list li a:focus,
aside.menu .menu-list li a:hover,
aside.menu .menu-list li a.is-active {
  background-color: var(--font-theme-color);
  color: var(--bck-color);
  font-weight: bold;
  opacity: 100%;
}

aside.menu .menu-list li:first-child {
  margin-top: 50px;
}

aside.menu .menu-list li:last-child {
  margin-bottom: 50px;
}

aside.menu .is-active {
  background-color: var(--font-theme-color);
}

/*-- logo panel --*/
.logo-panel {
  background-color: var(--font-color);
  border-radius: 5px 5px 0px 0px;
  display: inline-flex;
  padding: 10px 15px;
  height: auto;
  width: auto;

  position: relative;
  left: 0px;
  margin-top: 0px;
}

.logo-panel #logo-cpc {
  background: var(--img-cpc);
  background-size: contain;
  background-repeat: no-repeat;
}

.logo-panel #logo-gie {
  background: var(--img-gie);
  background-size: contain;
  background-repeat: no-repeat;
}

.logo-panel .logo {
  height: 64px;
  width: 64px;
  margin: 0px 10px;
}

.logo-panel {
  position: relative;
  display: inline-flex;
  margin-left: 50px;
}

/*-- content --*/
/*- title -*/
section .content-title {
  background-color: var(--bck-color);

  border-radius: 0px;
  position: relative;
  padding: 50px;
  border-top: 1px solid var(--font-color);
}

section .content-title h1.title {
  font-family: var(--title-font);
  letter-spacing: 2px;
  color: var(--font-color);
  font-size: 36px;
}

section .content-title h1.title span.title-color {
  color: var(--font-theme-color);
}

section .content .columns .subtitle {
  font-family: var(--content-font);
  color: var(--font-color);
}

section .content .columns .column p img.left-align {
  float: left;
  margin: 0px 15px 15px 0px;
}

section .content .columns .column p img.right-align {
  float: right;
  margin: 0px 15px 15px 0px;
}

/*- content -*/
section .content {
  color: var(--font-color);
  font-family: var(--content-font);
  font-size: 16px;
}

section .content .columns {
  margin-right: 0px;
  border-radius: 5px;
  background-color: var(--elem-color);
  margin-top: 25px;
  margin-bottom: 15px;
}

section .content .columns:last-child {
  margin-bottom: 0px;
}

section .content .columns .column {
  padding: 50px;
  border-radius: 0px;
}

section .content img {
  object-fit: cover;
  height: 300px;
  width: auto;
  margin: 20px 0px;
}

section .content mark {
  padding: 0.25rem 5px;
}

.intel-hide {
  display: none !important;
}

.field .label {
  color: var(--font-color);
}

/*-- footer --*/
footer.footer {
  background-color: var(--elem-color);
  color: var(--font-color);
  font-family: var(--content-font);
  font-size: 14px;

  border-top: 1px solid var(--font-color);
  padding: 5rem 1.5rem 3rem;
}

footer.footer strong {
  font-weight: bold;
  color: var(--font-color);
}

/*-- 404 --*/
.error-page .logo {
  font-size: 240px;
}

.error-page p.error-content {
  font-size: 35px;
}

/*-- table --*/
table.accordion {
  table-layout: fixed;
}

table.accordion thead tr th {
  vertical-align: middle;
}

table.accordion thead tr:hover {
  cursor: pointer;
  background-color: rgba(1, 1, 1, 0.1);
}

/* roles */
table.accordion tbody > div {
  width: 100%;
  display: contents;
}

/* tr */
table.accordion tbody tr {
  width: 100%;
  visibility: collapse;
}

table.accordion tbody tr .lock {
  margin-left: 5px;
  vertical-align: bottom;
}

table.accordion tbody tr.visible {
  visibility: visible;
}

/* team */
table.accordion > div {
  width: 100%;
  display: contents;
}

/* cellule */
table.accordion tbody tr td {
  vertical-align: middle;
}

/*-- media queries --*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .floatbtn {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .floatbtn {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /*-- content --*/
  section .content {
    margin: 0px 80px 80px 80px;
  }

  section .content .columns {
    margin: 0px 0px;
    border-radius: 0px;
  }

  section .content .columns:first-child {
    border-radius: 5px 5px 0px 0px;
  }

  section .content .columns:last-child {
    border-radius: 0px 0px 5px 5px;
  }

  /*-- 404 --*/
  .error-page .is-center {
    display: flex;
    justify-content: center;
  }

  /*-- footer --*/
  footer.footer {
    border: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /*-- navbar --*/
  .navbar.is-fixed-top .navbar-menu,
  .navbar.is-fixed-top-touch .navbar-menu {
    height: auto;
  }

  .navbar .navbar-menu .navbar-dropdown a.navbar-item {
    margin: 0px !important;
  }

  .navbar .navbar-menu .navbar-end .separator {
    display: none;
  }

  /*-- logo panel --*/
  .logo-panel {
    position: absolute;
    left: 200px;
    margin-top: -84px;
  }

  /*-- side menu --*/
  aside.menu {
    border: none;
  }

  /*-- content --*/
  /*- title -*/
  section .content-title {
    position: absolute;
    left: 120px;
    margin-top: -60px;
    padding: 20px 50px;
    border-radius: 5px;
    border: none;
  }

  section .content {
    margin: 80px;
  }

  section .content .columns {
    margin: 0px 10px;
    border-radius: 0px;
  }

  section .content .columns:first-child {
    border-radius: 5px 5px 0px 0px;
  }

  section .content .columns:last-child {
    border-radius: 0px 0px 5px 5px;
  }

  /*-- footer --*/
  footer.footer {
    border: none;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /*-- navbar --*/
  .navbar.is-fixed-top .navbar-menu,
  .navbar.is-fixed-top-touch .navbar-menu {
    height: auto;
  }

  .navbar .navbar-menu .navbar-dropdown a.navbar-item {
    margin: 0px !important;
  }

  .navbar .navbar-menu .navbar-end .separator {
    display: none;
  }

  /*-- information panel --*/
  .information-panel {
    position: absolute;
    right: 40px;
    top: 60vh;
  }

  .information-panel.fixed {
    position: fixed;
    right: 40px;
    top: 5vh;
  }

  /*-- side menu --*/
  aside.menu {
    position: absolute;
    left: 40px;
    top: 60vh;
    width: 440px;
    height: 62vh;
    overflow-y: auto;
  }

  aside.menu.fixed {
    position: fixed;
    left: 40px;
    top: 7vh;
    width: 440px;
  }

  /*-- logo panel --*/
  .logo-panel {
    position: absolute;
    left: 200px;
    margin-top: -135px;
  }

  /*-- content --*/
  /*- title -*/
  section .content-title {
    position: absolute;
    left: 160px;
    margin-top: -134px;
    padding: 20px 50px;
    border-radius: 5px;
    border: none;
  }

  /*- content -*/
  section .content {
    margin: 80px;
  }

  section .content img {
    height: 500px;
  }

  section .content .columns {
    margin: 0px 400px;
    border-radius: 0px;
  }

  section .content .columns:first-child {
    border-radius: 5px 5px 0px 0px;
  }

  section .content .columns:last-child {
    border-radius: 0px 0px 5px 5px;
  }

  /*-- footer --*/
  footer.footer {
    border: none;
  }
}
