<!-- image header -->
<header>
  <div id="img-header" class="contact"></div>
</header>

<!-- content -->
<section>
  <!-- title -->
  <div class="content-title">
    <h1 class="title">Liste des joueurs</h1>
  </div>

  <!-- content -->
  <div class="content">
    <div class="columns">
      <div class="column">
        <small>
          Liste des joueurs inscrit pour l'<b>Opération Rogue Wave Piercer</b>.
        </small>

        <br /><br />

        <table
          class="table is-bordered is-hoverable is-fullwidth"
          *ngIf="mission"
        >
          <thead>
            <tr>
              <th>#</th>
              <th>Nom</th>
              <th>Joueur</th>
              <th></th>
            </tr>
          </thead>
          <tbody *ngFor="let role of mission.roles">
            <tr>
              <th>{{ role.id }}</th>
              <td>{{ role.name }}</td>
              <td>
                <span *ngIf="role.player">
                  [{{ role.team?.name }}] {{ role.player.username }}
                </span>
              </td>
              <td>
                <button *ngIf="!role.player && evalCondition(role)">
                  S'inscrire
                </button>
                <!--TODO: Doesn't work-->
                <button
                  *ngIf="
                    role.player == playerLogged$ || playerLogged$.isAdmin
                      | async
                  "
                >
                  Editer
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
