<!-- image header -->
<header>
  <div id="img-header" class="home"></div>
</header>

<app-mission-info-panel></app-mission-info-panel>

<!-- logo panel -->
<div class="logo-panel">
  <div id="logo-cpc" class="logo"></div>
  <div id="logo-gie" class="logo"></div>
</div>

<section *ngIf="mission">
  <!-- title -->
  <div class="content-title">
    <h1 class="title">
      Bienvenue à l'<span class="title-color"
        >Opération Rogue Wave Piercer</span
      >
    </h1>
  </div>

  <!-- content -->
  <div class="content">
    <div class="columns">
      <div class="column">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum
          ex vel finibus lacinia. Mauris suscipit, ante vel bibendum
          condimentum, lectus odio sodales diam, nec pharetra felis est vel
          neque. Class aptent taciti sociosqu ad litora torquent per conubia
          nostra, per inceptos himenaeos. Integer sit amet fermentum ligula.
          Mauris pretium ex dignissim orci volutpat feugiat. Nam in turpis
          tortor. Phasellus mattis nibh semper arcu lacinia sagittis. Aenean
          tellus velit, pellentesque nec nibh non, rutrum bibendum ante. Etiam
          sit amet malesuada purus. Morbi tincidunt nulla neque, non posuere
          sapien placerat non. Mauris hendrerit rutrum pulvinar. Nullam non
          tortor sed lectus luctus consectetur id et orci. Nulla fringilla
          euismod ullamcorper.
        </p>
        <p>
          Orci varius natoque penatibus et magnis dis parturient montes,
          nascetur ridiculus mus. Maecenas eget sodales metus. Nam rutrum
          hendrerit aliquam. Donec pretium semper ornare. Proin eu ante neque.
          Donec dictum purus nisi. Integer vestibulum id arcu at tincidunt.
          Nulla rutrum ante quis metus cursus, vitae efficitur eros dignissim.
          Mauris accumsan sapien sapien, eget dapibus dui congue id. Curabitur
          nulla ipsum, mollis vitae leo id, rutrum placerat dui. Donec et auctor
          tellus, id commodo augue. In consequat elit non ultricies pharetra.
          Fusce porta libero nec leo lobortis, id porta ante mattis. Vivamus
          accumsan nisl quis lacus varius, quis luctus nibh elementum. In hac
          habitasse platea dictumst.
        </p>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <p>
          Sed rutrum metus quis dui vehicula iaculis. Pellentesque in augue vel
          dolor faucibus tristique ut porttitor est. Donec sit amet metus metus.
          Quisque viverra commodo arcu. Suspendisse convallis rutrum mauris, nec
          sodales lacus vulputate vel. Nam sed metus ac libero tempor efficitur
          a vitae est. Pellentesque malesuada blandit placerat. Phasellus quis
          tincidunt ligula, ac mattis orci.
        </p>
      </div>
    </div>
  </div>
</section>
