<!-- image header -->
<header>
  <div id="img-header" class="home"></div>
</header>

<app-mission-info-panel></app-mission-info-panel>

<!-- logo panel -->
<div class="logo-panel">
  <div id="logo-cpc" class="logo"></div>
  <div id="logo-gie" class="logo"></div>
</div>

<section *ngIf="mission">
  <!-- title -->
  <div class="content-title">
    <h1 class="title">
      <span class="title-color">Opération Rogue Wave Piercer</span>
    </h1>
  </div>

  <!-- content -->
  <div class="content">
    <div class="columns">
      <div class="column">
        <p>
          <b>4 juillet 2013</b>
        </p>
        <p>
          <i
            >Depuis 15 ans, la Fédération de Russie contrôle politiquement,
            économiquement et de fait militairement tous les pays de la Bulgarie
            au sud à l’Estonie au nord, en passant par l’Ukraine, le “géant du
            milieu” et la Biélorussie “l’autre géant du milieu”.</i
          >
        </p>
        <p>
          <i
            >Depuis plusieurs semaines, des groupes paramilitaires s’infiltrent
            en Pologne et se massent progressivement à l’ouest du pays, à
            proximité de la frontière allemande. La Pologne n’a pas les moyens
            militaires de lutter efficacement contre ces groupes lourdement
            armés, mais officiellement affiliés à aucun pays.</i
          >
        </p>
        <p>
          <i
            >La VJTF, composante de première intervention de la NATO Response
            Force, mobilise son dispositif en urgence.</i
          >
        </p>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <p>
          La mission se joue le
          <b>samedi 19 juin 2021 à partir de 19h30</b> pour les premiers
          éléments (FS + commandement) et à 20h30 pour les autres.
        </p>
        <p>
          Une mission Arma 3 inter-communauté organisée, pour votre plus grand
          plaisir, par les communautés
          <a href="https://gie.polygames.net">G.I.E</a> et
          <a href="https://grecedecanards.fr">Grèce de canards</a>
        </p>
      </div>
    </div>
  </div>
</section>
