<!-- image header -->
<header>
  <div id="img-header" class="contexte"></div>
</header>

<!-- side menu -->
<aside class="menu" id="aside">
  <ul class="menu-list">
    <li>
      <a
        routerLink="."
        fragment="contextehistoriquegeopolitique"
        class="is-active"
        >Contexte historique et géopolitique</a
      >
    </li>
    <li>
      <a routerLink="." fragment="contexteotan">Contexte OTAN</a>
      <ul>
        <li>
          <a routerLink="." fragment="very-high"
            >La Very high readiness Joint Task Force (VJTF), fer de lance de la
            NRF (NATO Response Force)</a
          >
        </li>
        <li>
          <a routerLink="." fragment="ndmultinatio"
            >Le 2nd Multinational Battle Group “Raging Bull”</a
          >
        </li>
        <li><a routerLink="." fragment="OZrosche">L'OZ Rosche</a></li>
        <li>
          <a routerLink="." fragment="uniteTZCERO">L’unité TZ CERO (Cy)</a>
        </li>
      </ul>
    </li>
  </ul>
</aside>

<!-- content -->
<section>
  <!-- title -->
  <div class="content-title">
    <h1 class="title">Contexte</h1>
  </div>

  <!-- content -->
  <div class="content">
    <div class="columns">
      <div class="column">
        <h4 class="subtitle is-4" id="contextehistoriquegeopolitique">
          Contexte historique et géopolitique
        </h4>
        <p>
          Depuis 15 ans, la Fédération de Russie contrôle politiquement,
          économiquement et de fait militairement tous les pays de la Bulgarie
          au sud à l’Estonie au nord, en passant par l’Ukraine, le “géant du
          milieu” et la Biélorussie “l’autre géant du milieu”.
        </p>
        <p>
          Depuis plusieurs mois, la tension est montée d’un cran entre le bloc
          de l’ex-URSS et les forces de l’OTAN. Mais aucun des deux blocs n’est
          disposé - pour des raisons très différentes - à entrer dans une guerre
          totale.
        </p>
        <p>
          La Pologne et la plupart des “pays tampons” (République Tchèque,
          Slovaquie, Hongrie, etc.) ont déclaré leur neutralité pour éviter de
          se retrouver écrasés entre le marteau et l’enclume. Ils laisseront
          passer toute armée du moment qu’aucune ne s’installe sur leur
          territoire.
        </p>
        <a href="/assets/carte_strat_globale.png" target="_blank"
          ><img src="/assets/carte_strat_globale.png" alt=""
        /></a>
        <p>
          Malgré cela, depuis plusieurs semaines, des groupes paramilitaires
          s’infiltrent en Pologne et se massent progressivement à l’ouest du
          pays, à proximité de la frontière allemande. La Pologne n’a pas les
          moyens militaires de lutter efficacement contre ces groupes lourdement
          armés, mais officiellement affiliés à aucun pays.
        </p>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <h4 id="contexteotan" class="subtitle is-4">Contexte OTAN</h4>
        <h5 class="subtitle is-5" id="very-high">
          La Very high readiness Joint Task Force (VJTF), fer de lance de la NRF
          (NATO Response Force)
        </h5>
        <p>
          La VJTF, composante de première intervention de la NRF, mobilise son
          dispositif. Il lui faut 3 jours à la Force pour être pleinement
          opérationnelle. La VTJF est composée de 3 Multinational Battle Groups
          - MBG (équivalents à des sous-groupements tactiques interarmes de
          l’armée française).
        </p>
        <a href="/assets/ORBAT.png" target="_blank"
          ><img src="/assets/ORBAT.png" alt=""
        /></a>
        <p>
          L'Eurocorps constitue le gros des 1st et 3rd MBG. Toutes les troupes
          allemandes y sont affectées. Il n’y a pas de troupes allemandes dans
          le 2nd MBG.
        </p>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <h5 class="subtitle is-5" id="ndmultinatio">
          Le 2nd Multinational Battle Group “Raging Bull”
        </h5>
        <p>
          <a href="/assets/insigne-ragingbull.png" target="_blank"
            ><img
              src="/assets/insigne-ragingbull.png"
              class="left-align"
              alt=""
              style="height: 90px"
          /></a>
          Le 2nd MBG “Raging Bull” est constitué autour d’un noyau issu d’un
          régiment blindé. Il a été historiquement monté avec des unités US,
          notamment le 7th cavalry regiment, d’où son nom en hommage au boxeur
          américain Jake LaMotta.
        </p>
        <p>
          <a href="/assets/carte_strat_zoom.png" target="_blank"
            ><img
              src="/assets/carte_strat_zoom.png"
              class="right-align"
              alt=""
              style="height: 200px"
          /></a>
          Cependant, comme le veut l’organisation de la NRF, les différentes
          composantes des Battle Groups tournent chaque année. Actuellement, le
          noyau du 2nd MBG est constitué par le 92ème régiment d’infanterie
          (France). Le commandant du battle group et la plupart des chefs
          d’unités sont donc français.
        </p>
        <p>
          Les raging bulls se voient affecter la zone d’opération Rosche
          (Operation Zone Rosche - OZ Rosche), du nom d’une ville proche de la
          frontière germano-polonaise.
        </p>
        <p>
          Des informations complémentaires sont disponibles dans le rapport de
          situation tactique.
        </p>
        <h5 class="subtitle is-5" id="OZrosche">L'OZ Rosche</h5>
        <p>L’OZ Rosche est découpée en 3 Tactical Zones (TZ) :</p>
        <ul>
          <li>La TZ Nord : TZ NORO</li>
          <li>La TZ Centre (votre TZ) : TZ CERO</li>
          <li>La TZ Sud : TZ SURO</li>
        </ul>
        <p>
          Sur chaque TZ sera déployé l’équivalent d’une compagnie (Company - Cy)
          à échéance de 3 jours.
        </p>
        <a href="/assets/schema-team-dispertion.png" target="_blank"
          ><img
            src="/assets/schema-team-dispertion.png"
            alt=""
            style="height: 420px"
        /></a>
        <p>
          Des informations complémentaires sont disponibles dans le rapport de
          situation tactique.
        </p>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <h5 class="subtitle is-5" id="uniteTZCERO">L’unité TZ CERO (Cy)</h5>
        <p>
          Votre unité atteindra son effectif nominal dans 3 jours. Pour le
          moment, vous faites avec ce qui est disponible avec les éléments
          d’avant-garde, soit entre 30 et 60 hommes pour votre unité de combat
          (et peu ou prou la même chose pour les unités Cy NORO et Cy SURO).
        </p>
        <p>
          Du fait de cette projection en extrême urgence, le commandement
          d’opération a profité des opportunités : une section du 92ème régiment
          d’infanterie (France) était en entraînement avec le 7th cavalry
          regiment (US) à proximité de Berlin. Espérons que les fantassins
          français du 92ème RI sauront être efficaces avec les Bradley du 7th
          cavalry.
        </p>
        <p>
          Le commandement de la compagnie est assuré par un capitaine du 7th
          cavalry assisté par un officier adjoint du 92ème RI. Ils ont toute
          latitude pour le déroulement de son action, avec sous ses ordres tous
          les éléments de l’unité disponibles à l’instant T.
        </p>
        <p>
          Il est sous l’autorité du commandant du 2nd MBG, le Commandant tanin.
          Ce dernier est occasionnellement sur zone, mais n’intervient pas dans
          l’opération.
        </p>
        <a href="/assets/ORBAT_detail.png" target="_blank"
          ><img src="/assets/ORBAT_detail.png" alt=""
        /></a>
      </div>
    </div>
  </div>
</section>
