<!-- image header -->
<header>
  <div id="img-header" class="home"></div>
</header>

<!-- content -->
<section>
  <!-- title -->
  <div class="content-title">
    <h1 class="title">Créer un compte</h1>
  </div>

  <!-- content -->
  <div class="content">
    <div class="columns">
      <div class="column">
        <small>
          Créer un compte pour participer à l'<b
            >Opération Rogue Wave Piercer</b
          >
          !
        </small>

        <br />
        <br /><br />

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Pseudo</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <input
                  class="input"
                  [(ngModel)]="username"
                  type="text"
                  placeholder="pseudo"
                />
              </p>
            </div>
          </div>
        </div>

        <!--<div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Email</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <input
                  class="input"
                  type="email"
                  placeholder="me@example.com"
                />
              </p>
            </div>
          </div>
        </div>-->

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Mot de passe</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <input
                  class="input"
                  [(ngModel)]="password"
                  type="password"
                  placeholder="example_mdp"
                />
              </p>
            </div>
          </div>
        </div>

        <br /><br />

        <div class="field is-grouped is-grouped-right">
          <p class="control">
            <button class="button is-primary" (click)="register()">
              Créer
            </button>
          </p>
        </div>

        <br /><br />

        <small>
          Vous avez déjà un compte ? <br />
          Connecté vous sans attendre pour l'<b>Opération Rogue Wave Piercer</b>
          : <a routerLink="/login">Connexion</a>
        </small>
      </div>
    </div>
  </div>
</section>
