<!-- image header -->
<header>
  <div id="img-header" class="home"></div>
</header>

<!-- content -->
<section>
  <!-- title -->
  <div class="content-title">
    <h1 class="title">Connexion</h1>
  </div>

  <!-- content -->
  <div class="content">
    <div class="columns">
      <div class="column">
        <small>
          Utiliser l'email et le mot de passe renseigner lors de la création de
          votre compte.
          <br />
          Si vous avez le moindre problème merci de
          <a routerLink="/contact">contacter</a> un administrateur du site.
        </small>

        <br />
        <br /><br />

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Pseudo</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <input
                  class="input"
                  type="text"
                  [(ngModel)]="username"
                  placeholder="me"
                />
              </p>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Mot de passe</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <input
                  class="input"
                  [(ngModel)]="password"
                  type="password"
                  placeholder="example_mdp"
                />
              </p>
            </div>
          </div>
        </div>

        <div class="field is-grouped is-grouped-right">
          <a href="">Mot de passe oublié</a>
        </div>

        <br /><br />

        <div class="field is-grouped is-grouped-right">
          <p class="control">
            <a class="button is-primary" (click)="logIn()"> Connexion </a>
          </p>
        </div>

        <br /><br />

        <small>
          Vous n'avez pas encore de compte ? <br />
          Créer en un sans attendre pour participer à l'<b
            >Opération Rogue Wave Piercer</b
          >
          : <a routerLink="/register">Créer un compte</a>
        </small>
      </div>
    </div>
  </div>
</section>
