<app-navbar></app-navbar>
<router-outlet></router-outlet>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Opération Rogue Wave Piercer</strong> proposé par
      <a href="https://github.com/Morbakos" target="_blank">Morbakos</a>,
      <a href="https://github.com/Tanin69" target="_blank">tanin</a>,
      <a>Tisma</a> & <a href="https://chrisblnc.fr" target="_blank">Stians</a>.
    </p>
    <p>
      <a href="https://arma3.com/" target="_blank">Arma 3</a> ainsi que l'<a
        href="./modset.html"
        >installation des mods</a
      >
      est requis pour jouer le soir de l'interco. L'utilisation de TS et du
      module ACRE2 est nécessaire pour venir jouer.
      <small>PS : FUCK YOU IE USERS ! 😘</small>
    </p>
    <p>Copyright © GDC, GIE <span id="years-now">2021</span>.</p>
  </div>
</footer>
